<div id="adminStyle">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6" id="leaftletMapSection">
        <!-- leaftlet map directive -->
        <leaftlet-map></leaftlet-map>
      </div>

      <div class="col-sm-6" id="optionsMapSection">

        <ul class="nav nav-tabs text-center" style="margin-top: 1%">
          <li class="active" id="activeToggleable"><a data-toggle="tab" href="#feedbacks">Sugerencias</a></li>
          <li><a data-toggle="tab" href="#reserves">Reservas</a></li>
        </ul>


        <div class="tab-content">
          <div id="feedbacks" class="tab-pane fade in active">
            <h3 style="font-size: 130%">Filtrar por:</h3>
            <p>trabajador, estado, titulo</p>

            <div id="feedbackList">
              <feedback ng-repeat="feedback in feedbackList"></feedback>
            </div>

          </div>
          <div id="reserves" class="tab-pane fade">
            <h3 style="font-size: 130%">día X:</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
