<div id="adminStyle">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6" id="leaftletMapSection">
        <!-- leaftlet map directive -->
        <leaftlet-map></leaftlet-map>
      </div>

      <div class="col-sm-6" id="optionsMapSection">

        <ul class="nav nav-tabs text-center" style="margin-top: 1%">
          <li class="active" id="activeToggleable"><a data-toggle="tab" href="#reports">Sugerencias</a></li>
          <li><a data-toggle="tab" href="#reserves">Reservas</a></li>
        </ul>


        <div class="tab-content">
          <div id="reports" class="tab-pane fade in active">
            <h3 style="font-size: 130%">Filtrar por:
              <i class="fa fa-times" ng-click="resetFilters()" style="cursor:pointer;float:right;color:#f44336"></i></h3>

            <div class="row"><!-- Filters section -->
              <div class="form-group col-xs-4">
                <input type="text" ng-model="titleFilter" class="form-control" placeholder="Título..." />
              </div>
              <div class="form-group col-xs-4">
                <select class="form-control" ng-model="workerFilter" ng-options="x for x in workerList">
                  <option value="" disabled selected>Trabajador...</option>
                </select>
              </div>
              <div class="form-group col-xs-4">
                <select class="form-control" ng-model="stateFilter" ng-options="x for x in stateList">
                  <option value="" disabled selected>Estado...</option>
                </select>
              </div>
            </div><!-- END: Filters section -->

            <div id="reportList">
              <report ng-repeat="report in reportList | filter: {'title': titleFilter, 'worker': workerFilter,  'state': stateFilter}">
              </report>
            </div>

          </div>
          <div id="reserves" class="tab-pane fade">
            <div class="accordionCard" ng-repeat="reserve in reservationList">

              <button class="accordion" ng-click="showCommentary = !showCommentary" ng-class="{active: showCommentary}">
                Mes: {{reserve.month}} Día: {{reserve.month}} <span
                ng-if="reserve.professor"><strong>Profesor</strong></span>
              </button>
              <div class="panel" ng-class="{show: showCommentary}">

                <p><strong>Localización:</strong> {{reserve.location}}</p>

                <p><strong>Email:</strong> {{reserve.email}}</p>

                <p><strong>Descripción:</strong> {{reserve.description}}</p>

                <div class="col-xs-12 text-right" id="approveDenyReservation">
                  <button ng-click="approve(reserve.id)" class="btn-success">Aprobar</button>
                  <button ng-click="deny(reserve.id)" class="btn-danger">Denegar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
