html, body, #starterStyle {
  height: 100%;
}
#starterStyle > .container-fluid {
  height: 100%;
}

#starterStyle > .container-fluid > .row {
  height: 100%;
}

#starterStyle #leaftletMapSection {
  padding: 50px 0 0 0;
  height: 100%;
}

@media only screen and (min-width: 768px){
  #starterStyle #leaftletMapSection {
    padding: 70px 0 0 0;
  }
  #starterStyle #optionsMapSection {
    padding-top: 70px;
    overflow-y: auto;
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2), -6px 0 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 400;
    height: 100%;
  }
}
