/* Set a style of states */
#feedbackList .currentState {
  font-weight: 600;
  border: none;
  color:#fff !important;
  background-color:#003829 !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

#feedbackList .disabled {
  color: graytext;
  cursor: not-allowed;
}
