.nav-tabs>li>a {
  color: #006e51;
}

.nav-tabs>li {
  width: 40%;
}

#adminStyle #activeToggleable {
  margin-left: 10%
}

#adminStyle #reserves {
  padding-top: 5%
}

#adminStyle #approveDenyReservation {
  margin: 8px 0;
}

/* Set a style for all buttons */
#adminStyle #approveDenyReservation button {
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

#adminStyle #approveDenyReservation button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
