body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}

/* remove the underline link style */
a:focus, a:hover {
  text-decoration: none;
}

html, body, #starterStyle, #adminStyle {
  height: 100%;
}

/* add a gap under the navbar */
#firstContent:before {
  display: block;
  content: " ";
  height: 70px;
  visibility: hidden;
}

h1 {
  font-size: 200%;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#d3d3d3), to(#d3d3d3), color-stop(50%, #000000));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  height: 100%;
}

.container-fluid > .row {
  height: 100%;
}

#leaftletMapSection {
  padding: 50px 0 0 0;
  height: 100%;
}

@media only screen and (min-width: 768px){
  #leaftletMapSection {
    padding: 70px 0 0 0;
  }
  #optionsMapSection {
    padding-top: 70px;
    overflow-y: auto;
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2), -6px 0 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 400;
    height: 100%;
  }
}
