#starterStyle .divider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#d3d3d3), to(#d3d3d3), color-stop(50%, #000000));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
