<div class="accordionCard">
  <button class="accordion" ng-click="showCommentary = !showCommentary" ng-class="{active: showCommentary}">
    Fecha: {{feedback.title}}
  </button>
  <div class="panel" ng-class="{show: showCommentary}">
    <div class="col-xs-12">
      <p>Series: {{feedback.description}}</p>
    </div>
    <p>Estado:</p>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Aprobada'}">Aprobada</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Asignada'}">Asignada</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Hecha'}">Hecha</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Confirmada'}">Confirmada</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Denegada'}">Denegada</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p ng-class="{currentState: state=='Notificada'}">Notificada</p>
    </div>
    <div class="form-group">
      <label for="worker">Trabajador:</label>
      <select id="worker" class="form-control" ng-model="selectedWorker" ng-options="x for x in workerList" required>
        <option value="" disabled selected>Selecciona el trabajador</option>
      </select>
    </div>

  </div>
</div>
