<div id="loginFormStyle">
  <!-- The Modal -->
  <div class="modal" id="loginForm">

    <!-- Modal Content -->
    <form class="modal-content animate" ng-submit="login()" role="form">
      <div class="imgcontainer">
        <span ng-click="closeLoginForm()" class="close" title="Close Modal">&times;</span>
        <img src="../../img/login-icon.png" alt="Avatar" class="avatar">
      </div>

      <!-- this div will show only when an error occurs -->
      <div class="alert alert-danger" ng-if="error" style="margin:2%">
        <strong>&#10008</strong> {{errorMsg}}
      </div>

      <div style="padding: 16px;">
        <label><b>Correo electrónico</b></label>
        <input ng-click="hideError()" type="email" placeholder="Introduce el correo electrónico" ng-model="email" required>

        <label><b>Contraseña</b></label>
        <input ng-click="hideError()" type="password" placeholder="Introduce la contraseña" ng-model="password" required>

        <button type="submit" class="sC-theme-action">Iniciar sesión</button>
      </div>

      <div style="padding: 16px; background-color:#f1f1f1">
        <button type="button" ng-click="closeLoginForm()" class="cancelbtn">Cerrar
        </button>
      </div>
    </form>
  </div>
</div>
