<div id="selectorBuilding" class="text-center sC-text-theme">
  <div class="col-xs-3" id="campus">
   		<button class="btn sC-border-theme" type="button" data-toggle="dropdown">Campus Rio Ebro</button>
  </div>
  <div class="col-xs-3" id="ada">
		<div class="dropdown">
    		<button class="btn sC-border-theme dropdown-toggle" type="button" data-toggle="dropdown">Ada Byron
    		<span class="caret"></span></button>
    		<ul class="dropdown-menu">
      			<li><a ng-click="determineFloor('AS')">Sótano</a></li>
     			<li><a ng-click="determineFloor('A0')">Planta 0</a></li>
      			<li><a ng-click="determineFloor('A1')">Planta 1</a></li>
      			<li><a ng-click="determineFloor('A2')">Planta 2</a></li>
      			<li><a ng-click="determineFloor('A3')">Planta 3</a></li>
      			<li><a ng-click="determineFloor('A4')">Planta 4</a></li>
      			<li><a ng-click="determineFloor('AT')">Terraza</a></li>
    		</ul>
		</div>  
  </div>
  <div class="col-xs-3" id="torres">
		<div class="dropdown">
    		<button class="btn sC-border-theme dropdown-toggle" type="button" data-toggle="dropdown">Torres Quevedo
    		<span class="caret"></span></button>
    		<ul class="dropdown-menu">
      			<li><a ng-click="determineFloor('TS')">Sótano</a></li>
     			<li><a ng-click="determineFloor('T0')">Planta 0</a></li>
      			<li><a ng-click="determineFloor('T1')">Planta 1</a></li>
      			<li><a ng-click="determineFloor('T2')">Planta 2</a></li>
      			<li><a ng-click="determineFloor('T3')">Planta 3</a></li>
    		</ul>
		</div>
  </div>
  <div class="col-xs-3" id="betan">
		<div class="dropdown">
			<button class="btn sC-border-theme dropdown-toggle" type="button" data-toggle="dropdown">Agustín de Betancourt
    		<span class="caret"></span></button>
    		<ul class="dropdown-menu">
      			<li><a ng-click="determineFloor('BS')">Sótano</a></li>
     			<li><a ng-click="determineFloor('B0')">Planta 0</a></li>
      			<li><a ng-click="determineFloor('B1')">Planta 1</a></li>
      			<li><a ng-click="determineFloor('B2')">Planta 2</a></li>
      			<li><a ng-click="determineFloor('B3')">Planta 3</a></li>
    		</ul>
		</div>
	</div>
</div>





<div style="padding-top:60px;height:100%;max-width:100%">
  <div id="mapid"></div>
</div>
